body {
  background-color: rgba(211, 211, 211, 0.139);
}

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  height: 100vh;
  width: 100vw;
  max-width: 768px;
  background-color: white;
  margin: 0 auto;
}

.title {
  padding: 16px;
  font-weight: bold;
}