@mixin category-color($category, $color) {
  &.#{$category} {
    background-color: $color;
  }
}

.container {
  border-radius: 8px;
  color: white;
  font-size: 12px;
  padding: 4px;
  max-width: 200px;
  white-space: nowrap;
  /* Prevent text from wrapping to the next line */
  overflow: hidden;
  /* Hide any overflowing content */
  text-overflow: ellipsis;

  @include category-color("Electronics", #1E90FF);
  @include category-color("Clothing", #FF69B4);
  @include category-color("HomeAppliances", #FFD700);
  @include category-color("Books", #8B4513);
  @include category-color("Sports", #228B22);
  @include category-color("Toys", #FF4500);
  @include category-color("Groceries", #6B8E23);
  @include category-color("Automotive", #708090);
  @include category-color("HealthBeauty", #FFB6C1);
  @include category-color("Furniture", #D2691E);
}